@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Patua+One');

body{
  font-family: 'Open Sans'
}

.template {
  visibility: hidden;
}

.student {
  height: 4rem;
}

.actions {
  float: right;
}

h2{
  text-align: center;
  font-family: 'Patua One';
  font-size: 4rem;
}

.button, .button-group, .button.success, 
.button.alert, .button.warning{
  color: #fefefe;
}

.button.success:hover, .button.success:focus, 
.button.warning:hover, .button.warning:focus{
  color: #fefefe;
}

span.student-name{
  white-space: nowrap;
  overflow-x: hidden;
}

.student:first-child button.move-up, 
.student:nth-last-child(2) button.move-down{
  background-color: grey;
  color: #eee;
  cursor: not-allowed;
}

.student-name {
  float: left;
  line-height: 38px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}