@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Patua+One');

body{
  font-family: 'Open Sans'
}

.template {
  visibility: hidden;
}

.student {
  height: 4rem;
}

.actions {
  float: right;
}

h2{
  text-align: center;
  font-family: 'Patua One';
  font-size: 4rem;
}

.button, .button-group, .button.success, .button.alert{
  font-size: 1rem;
  color: #fefefe;
}

.button.success:hover{
  color: #fefefe;
}